{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container">
    <ul class="list-group">
        <li class="list-group-item active">{{ poll }}
        <a class="btn btn-primary" href="{% url 'poll_update' poll.pk %}">Update Poll</a>
        <a class="btn btn-primary" href="{% url 'poll_delete' poll.pk %}">Delete Poll</a>
        </li>
            {% for poll in poll.poll_choce.all %}
                <p class="list-group-item">Answer: {{ poll}}</p>
                <li>
                <a class="btn btn-primary" href="{% url 'choice_update' poll.pk %}">Update answer</a>
                <a class="btn btn-primary" href="{% url 'choice_delete' poll.pk %}">Delete answer</a>
                </li>
                <br>
        {% endfor %}
    <a class="btn btn-primary" href="{% url 'choice_create' %}">Create answer</a>

    </ul>
    </div>
{% endblock %}