{% extends 'base.html' %}
{% block content %}
    {{ poll.choice.all }}
    <h1>Please, choose answer:</h1>
    <div class="container">
    <form action="">
        {% for po in poll.poll_choce.all %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                 {{ po.answer }}
              </label>
            </div>

        {% endfor %}
        <p><input type="submit" value="Select" class="btn btn"></p>
    </form>
    </div>
{% endblock %}
